---
name: "Release Publish"

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  npm-publish:
    name: "Publish"
    runs-on: ubuntu-latest
    steps:
      - name: "Setup Node"
        uses: actions/setup-node@v4.0.2
        with:
          node-version: "18"

      - name: "Checkout"
        uses: actions/checkout@v4.1.7

      - name: "Install dependencies"
        run: npm install

      - name: "Checkout Node-RED"
        uses: actions/checkout@v4.1.7
        with:
          repository: node-red/node-red
          path: node-red

      - name: "Build"
        run: npm run build

      - name: "Publish to npm"
        uses: JS-DevTools/npm-publish@v3.1.1
        with:
          token: ${{ secrets.NPM_TOKEN }}
